*{
    box-sizing: border-box;
    font-family: Helvetica;
}
h1 {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
section {
    border: 1px solid black;
    background-color: blue;
    width: 100%;
    float: left;
    }
h2 {
    background-color: gray;
    border: 1px solid black;
}
.row {
    width: 100%;
}
@media (min-width: 992px) {
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        border: solid black
    }
    .col-lg-1{
        width:8.33%;
    }
    .col-lg-2{
        width:16.66%;
    }
    .col-lg-3{
        width:25%;
    }
    .col-lg-4{
        width:33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width:58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width:74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width:100%;
    }
}
@media (min-width: 768px) and (max-width: 991px){.col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
        border: solid black
}
.col-tab-1{
        width:8.33%;
    }
    .col-tab-2{
        width:16.66%;
    }
    .col-tab-3{
        width:25%;
    }
    .col-tab-4{
        width:33%;
    }
    .col-tab-5{
        width: 41.66%;
    }
    .col-tab-6{
        width: 50%;
    }
    .col-tab-7{
        width:58.33%;
    }
    .col-tab-8{
        width: 66.66%;
    }
    .col-tab-9{
        width:74.99%;
    }
    .col-tab-10{
        width: 83.33%;
    }
    .col-tab-11{
        width: 91.66%;
    }
    .col-tab-12{
        width:100%;
@media (max-width: 767px){.col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, .col-mob-7, .col-mob-8, .col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
        border: solid black
}
    .col-mob-1{
        width:8.33%;
    }
    .col-mob-2{
        width:16.66%;
    }
    .col-mob-3{
        width:25%;
    }
    .col-mob-4{
        width:33%;
    }
    .col-mob-5{
        width: 41.66%;
    }
    .col-mob-6{
        width: 50%;
    }
    .col-mob-7{
        width:58.33%;
    }
    .col-mob-8{
        width: 66.66%;
    }
    .col-mob-9{
        width:74.99%;
    }
    .col-mob-10{
        width: 83.33%;
    }
    .col-mob-11{
        width: 91.66%;
    }
    .col-mob-12{
        width:100%;